.btn-principal{
    background-color: #743c07;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.offcanvas-body a {
    color: white;
  }


.iconplanta{
    width: 29px;
    height: 35px;
    filter: invert(1);
}

