<div class="container mt-5">
    <div class="row justify-content">
        <div class="col-3">
        <div class="card">
            <div class="card-header text-white text-center">
                <h5>¿Quienes Somos?</h5>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <p class="card-text">Bienvenido a Life Plants, tu aliado en el cuidado de plantas domésticas. Nos dedicamos a ofrecer a los amantes de las plantas una herramienta única y especializada que facilita el cuidado de sus plantas de interior. Somos apasionados por hacer que la experiencia de cuidar plantas en el hogar sea agradable y exitosa.</p>
                </div>
            </div>
        </div>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
        <div class="card" style="width: 20rem;">
            <img src="../../assets/imagenes/macetas.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Vision</h5>
              <p class="card-text">En Life Plants, nos visualizamos como líderes en el ámbito del cuidado de plantas de interior, proporcionando soluciones tecnológicas que mejoren la calidad de vida de nuestros usuarios y de sus plantas.</p>
            </div>
          </div>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
        <div class="card">
            <div class="card-header text-white text-center">
                <h5>¿Qué hacemos?</h5>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <p class="card-text">Life Plants es una aplicación web que te ayuda a cuidar tus plantas de interior. Con Life Plants, puedes recibir recordatorios personalizados para regar tus plantas, fertilizarlas y mucho más. También puedes acceder a una base de datos de plantas para obtener información sobre cómo cuidarlas. Life Plants es tu aliado en el cuidado de plantas de interior.</p>
                </div>
            </div>
    </div>
</div>