<div *ngIf="isError" class="{{alert}}" role="alert">
    {{errormsg}}
</div>


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-white text-center">
                    <h3>Iniciar sesión</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="formlogin" (ngSubmit)="Onsubmit()">
                        <div class="mb-3" [hidden]="isAuth">
                            <label for="inputEmail" class="form-label">Correo electrónico</label>
                            <input type="email" class="form-control" id="inputEmail" formControlName="email" name="email" [(ngModel)]="login.email" required>
                            <div class="text-danger" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                                <div *ngIf="email?.errors?.['required']">Email is required</div>
                                <div *ngIf="email?.errors?.['email']">Email must be a valid email address</div>
                                <div *ngIf="email?.errors?.['pattern']">Email must be a valid email address</div>
                            </div>
                        </div>
                        <div class="mb-3" [hidden]="isAuth">
                            <label for="inputPassword" class="form-label">Contraseña</label>
                            <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="inputPassword" formControlName="password" name="password" [(ngModel)]="login.password" required>
                            <div class="text-danger" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                                <div *ngIf="password?.errors?.['required']">Password is required</div>
                                <div *ngIf="password?.errors?.['minlength']">Password must be at least 6 characters</div>
                            </div>
                        </div>
                        <div class="mb-3" [hidden]="isAuth">
                            <input type="checkbox" id="showPassword" (change)="togglePasswordVisibility()" [(ngModel)]="showPassword">
                            <label for="showPassword" class="form-label">Mostrar contraseña</label>
                        </div>
                        <div class="mb-3" [hidden]="!isAuth">
                            <label for="code" class="form-label">Codigo de autorizacion</label>
                            <input type="text" class="form-control" id="code" formControlName="code" name="code" [(ngModel)]="verify.code" required>
                            <div class="text-danger" *ngIf="code?.invalid && (code?.dirty || code?.touched)">
                                <div *ngIf="code?.errors?.['pattern']">Solo se admiten numeros</div>
                                <div *ngIf="code?.errors?.['required']">Codigo de autorizacion es requerido</div>
                            </div>
                        </div>
                        <button type="submit" class="btn text-white w-100" [disabled]="!formlogin.valid">Iniciar sesión</button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <p>¿Aun no tienes cuenta? <a routerLink="/registro">Registrate</a></p>
                </div>
            </div>
        </div>
    </div>
</div>