<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-white text-center">
                    <h3>Iniciar sesión</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">Correo electrónico</label>
                            <input type="email" class="form-control" id="inputEmail" required>
                        </div>
                        <div class="mb-3">
                            <label for="inputPassword" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="inputPassword" required>
                        </div>
                        <button type="submit" class="btn text-white w-100">Iniciar sesión</button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <p>¿Aun no tienes cuenta? <a routerLink="/registro">Registrate</a></p>
                </div>
            </div>
        </div>
    </div>
</div>