.btn-principal{
    background-color: #743c07;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.offcanvas-body ul li a {
    color: white;
  }
  