<div *ngIf="isError" class="{{alert}}" role="alert">
    {{errormsg}}
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <div class="card border-primary shadow">
                <div class="card-body">
                    <h1 class="card-title text-primary">Plantas</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3 justify-content-center">
        <div class="col-md-6 text-center">
            <button class="btn btn-primary" (click)="filterPlants('all')">Todos</button>
            <button class="btn btn-success" (click)="filterPlants('active')">Activos</button>
            <button class="btn btn-danger" (click)="filterPlants('inactive')">Inactivos</button>
            <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addPlant">Agregar Planta</button>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4" *ngFor="let plant of plants.data; let i = index">
                <ng-container *ngIf="filteredPlants=='all' || (filteredPlants == 'active' && plant.status == 1 || (filteredPlants=='inactive' && plant.status != 1))">
                <div class="card md-3" [ngClass]="{'border-primary': plant.status == 1, 'border-danger': plant.status != 1}" style="width: 18rem;">
                    <img [src]="getImg()" class="card-img-top IconPlant" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{plant.plant}}</h5>
                      <p class="card-text">Estado: {{plant.status == 1 ? 'Activo' : 'Inactivo'}}</p>
                    <button class="btn add" type="button" (click)="openPlant(plant.id)">
                        Ver
                    </button>
                    </div>
                  </div>
                </ng-container>
            </div>
        </div>
    </div>
    
    <app-modal [modalId]="'addPlant'" [modalTitle]="'Agrega una planta'">
    <form [formGroup]="plantForm" (ngSubmit)="addPlant()">
        <div class="mb-3">
            <label for="plant" class="form-label">Nombre de la planta</label>
            <input type="text" class="form-control" id="plant" formControlName="plant" [(ngModel)]="newPlant.plant">
        </div>
        <button type="submit" class="btn btn-primary">Agregar</button>
    </form>
</app-modal>