<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <div class="card border-primary shadow">
                <div class="card-body">
                    <h1 class="card-title text-primary">Bienvenido, {{username}}</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-3">
            <div class="card border-primary shadow">
                <div class="card-body">
                    <h5 class="card-title text-primary">Plantas</h5>
                    <div *ngFor="let plant of plants.data">
                    <p class="card-text" *ngIf="plants; else noPlants">
                            {{plant.plant}}
                    </p>
                    </div>
                    <ng-template #noPlants>
                        <p class="card-text">No hay plantas por mostrar.</p>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>