<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <div class="card border-primary shadow">
                <div class="card-body">
                    <h1 class="card-title text-primary">Bienvenido, {{username}}</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-3">
            <div class="card border-primary shadow">
                <div class="card-body">
                    <h5 class="card-title text-primary text-center">Plantas</h5>
                    <table class="table">
                        <tbody>
                            <ng-container *ngIf="plants.data.length; else noPlants">
                                <tr *ngFor="let plant of plants.data">
                                    <td>{{plant.plant}}</td>
                                </tr>
                            </ng-container>
                            <ng-template #noPlants>
                                <tr>
                                    <td class="text-center">No hay plantas por mostrar.</td>
                                </tr>
                            </ng-template>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer align-items-center">
                    <button class="btn add" type="button" (click)="link()">Agregar Planta</button>
                </div>
            </div>
        </div>
    </div>
</div>