<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <div class="card border-primary shadow">
                <div class="card-body">
                    <h1 class="card-title text-primary">Bienvenido, {{username}}</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-3">
            <div class="card border-primary shadow">
                <div class="card-body">
                    <h5 class="card-title text-primary text-center">Plantas</h5>
                    <table class="table">
                        <tbody *ngFor="let plant of plants.data">
                            <tr *ngIf="plants; else noPlants">
                                <td>{{plant.plant}}</td>
                            </tr>
                        </tbody>
                        <ng-template #noPlants>
                            <tr>
                                <td>No hay plantas por mostrar.</td>
                            </tr>
                        </ng-template>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>